//////////////////// Font ////////////////////
.lato{
    font-family: 'Lato', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

.f300{
    font-weight: 300;
}

.f400{
    font-weight: 400;
}

.f900{
    font-weight: 900;
}

//////////////////// CSS Spec ////////////////////
@blueHard: #1f253d;
@blueElem: #394264;
@blueActiv: #50597b;
@greyText: #9099b7;
@greyInput: #50597b;
@green: #11a8ab;
/////////////// New colors ///////////////
@tp: transparent;
@white: #fff;
@blueBg: rgba(67, 62, 128, 0.5);

@heightHeader: 110px;

.noShadow{
    .box-shadow(@shadow: none);
}

.bgCol(@color){
    background-color: @color;
}

.center{
    text-align: center;
}

.absolute{
    position: absolute;
}

.fontSize(@size){
    font-size: @size;
}

.border-radius(@radius){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.left{
    float: left;
}

.right{
    float: right;
}

//////////////////// CSS Général ////////////////////
body{
    .lato;
    .f400;
    .fontSize(16px);
    color: @white;
    .bgCol(@white);
    .absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    
    #all{
        overflow: hidden;
        .absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-image: url("../images/bg.jpg");
        background-position: center center;
        background-size: cover;
        
        .btn{
            .uppercase;
            .fontSize(16px);
            
            &:active, &:focus{
                outline: none;
            }
        }
        
        .btnGhostWhite{
            .bgCol(@tp);
            color: @white;
            border: 1px solid @white;
            .border-radius(0px);
        }
        
        .btnGhostBig{
            padding: 10px 45px;
        }
        
        .none{
            display: none;
        }
        
        .filter{
            .absolute;
            top: 0; left: 0; right: 0; bottom: 0;
        }
        
        .filterBlue{
            .bgCol(@blueBg);
        }
    }
}