#all{
    #footer{
        .absolute;
        bottom: 0; left: 0; right: 0;
        height: @heightHeader;
        .center;
        
        .tab{
            height: 100%;
            
            &.active{
            }
            
            i{
                color: @white;
                .fontSize(40px);
                margin-top: 20px;
            }
        }
    }
}