#all{
    #header{
        .absolute;
        top: 0; left: 0; right: 0;
        .center;
        height: @heightHeader;
        .bgCol(@blueBg);
        color: @white;
        
        h1{
            margin: 0;
            .uppercase;
            .f300;
            margin-top: 42px;
        }
        
        &.hid{
            .translate3d(-100%; 0; 0);
            .transition-duration(600ms);
        }
    }
}