@media screen and (min-width: 771px){
    body{
        .fontSize(18px);
        
        .btn{
            .fontSize(18px);
        }
        
        .form-control{
            .fontSize(16px);
        }
        
        #all{
            #correctAddBox{
                .fontSize(18px);
            }
            
            .block{
                .btnMaterial{
                    .absolute;
                    bottom: 25px; right: 25px;
                    width: 50px; height: 50px;
                }
                
                .content{
                    form{
                        label{
                            .fontSize(35px);
                        }
                    }
                }
            }
            
            #block2{
                #weatherDay{
                    height: 800px;
                    
                    #city{
                        .fontSize(36px);
                        padding: 25px 15px;
                        margin-bottom: 20px;
                        
                        .country{
                            .fontSize(25px);
                        }

                        .glyphicon{
                            top: 25px; left: 25px;
                            .fontSize(25px);

                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }

                    #date{
                        #dateDay{
                            .fontSize(35px);
                        }

                        #dateDate{
                            .fontSize(22px);
                        }
                    }

                    #weather{
                        #iconDay{
                            width: 130px;
                        }
                    }

                    #temperature{
                        .fontSize(200px);
                        margin: 5px 0 70px;
                        
                        .degree{
                            .fontSize(100px);
                            top: 30px;
                        }
                    }
                    
                    #humPress{
                        .fontSize(22px);
                    }
                }
                
                #otherDays{
                    .btnMaterial{
                        width: 80px; height: 80px;
                        margin-top: -40px;
                        font-size: 40px;
                    }
                    
                    ul{
                        li{
                            margin: 0;
                            padding: 25px 0;
                            
                            .dates{
                                .otherDay{
                                    .fontSize(25px);
                                }
                                
                                .otherDate{
                                    .fontSize(18px);
                                }
                            }
                            
                            .temps{
                                margin-top: 0;
                                
                                .iconOtherDays{
                                    width: 70px;
                                    margin-right: 15px;
                                    margin-top: -15px;
                                }
                                
                                .tempOtherDay{
                                    .fontSize(42px);
                                }
                            }
                            
                            .otherInfos{
                                .minTemp{
                                    .fontSize(18px);
                                }
                            }
                            
                            .otherInfos{
                                .small;
                            }
                            
                            .small{
                                .fontSize(16px);
                            }
                        }
                    }
                }
            }
            
            #block3{
                #headerCity{
                    height: 350px;
                    
                    .glyphicon{
                        top: 25px; left: 25px;
                        .fontSize(25px);
                        
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    
                    .title{
                        .fontSize(36px);
                        margin-top: 150px;
                    }
                }
        
                #listCities{
                    ul{
                        li{
                            .name{
                                .fontSize(25px);
                            }

                            .country{
                                .fontSize(18px);
                            }
                            
                            .glyphicon-remove{
                                .absolute;
                                top: 15px; right: 15px;
                                color: @white;
                                .fontSize(20px);
                            }
                            
                            &:hover{
                                .bgCol(@materialColor2);
                                cursor: pointer;
                                
                                .name, .country{
                                    color: @white;
                                }
                                
                                .glyphicon-remove{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}