@media screen and (min-width: 771px){
    body{
        .fontSize(18px);
        
        h1, .h1{
            .fontSize(36px);
        }
        
        .form-control{
            .fontSize(16px);
        }
        
        #all{
            .btn{
                .fontSize(18px);

                &:hover{
                    cursor: pointer;
                }
            }
            
            .btnFlatGreen{
                .fontSize(16px);
                
                &:hover{
                    .bgCol(@materialColor2Dark);
                }
            }
            
            .btnMaterial{
                &:hover{
                    .bgCol(@materialColorDark);
                }
            }
        
            #correctAddBox{
                .fontSize(18px);
            }
            
            .block{
                .btnMaterial{
                    .absolute;
                    bottom: 25px; right: 25px;
                    width: 50px; height: 50px;
                }
                
                .content{
                    form{
                        label{
                            .fontSize(35px);
                        }
                    }
                }
            }
            
            #block2{
                .bgCol(@extraxLight);
                
                #weatherDay{
                    height: 800px;
                    
                    #city{
                        .fontSize(36px);
                        padding: 25px 15px;
                        margin-bottom: 20px;
                        
                        .country{
                            .fontSize(25px);
                        }

                        .glyphicon{
                            top: 25px; left: 25px;
                            .fontSize(25px);

                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }

                    #date{
                        #dateDay{
                            .fontSize(35px);
                        }

                        #dateDate{
                            .fontSize(22px);
                        }
                    }

                    #weather{
                        #iconDay{
                            width: 130px;
                        }
                    }

                    #temperature{
                        .fontSize(200px);
                        margin: 5px 0 70px;
                        
                        .degree{
                            .fontSize(100px);
                            top: 30px;
                        }
                    }
                    
                    #humPress{
                        .fontSize(22px);
                    }
                }
                
                #otherDays{
                    .btnMaterial{
                        width: 80px; height: 80px;
                        margin-top: -40px;
                        font-size: 40px;
                    }
                    
                    ul{
                        margin: 15px 0 0 0;
                        
                        li{
                            .bgCol(@white);
                            margin: 0 0 15px 0;
                            padding: 25px 0;
                            border-bottom: 3px solid @extraLight;
                            
                            .dates{
                                .otherDay{
                                    .fontSize(25px);
                                }
                                
                                .otherDate{
                                    .fontSize(18px);
                                }
                            }
                            
                            .temps{
                                margin-top: 0;
                                
                                .iconOtherDays{
                                    width: 70px;
                                    margin-right: 15px;
                                    margin-top: -15px;
                                }
                                
                                .tempOtherDay{
                                    .fontSize(42px);
                                }
                            }
                            
                            .otherInfos{
                                .minTemp{
                                    .fontSize(18px);
                                }
                            }
                            
                            .otherInfos{
                                .small;
                            }
                            
                            .small{
                                .fontSize(16px);
                            }
                            
                            &:last-of-type{
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
            
            #block3{
                .bgCol(@extraxLight);
                
                #headerCity{
                    height: 350px;
                    
                    .glyphicon{
                        top: 25px; right: 25px;
                        .fontSize(25px);
                        
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    
                    .title{
                        .fontSize(36px);
                        margin-top: 150px;
                    }
                }
        
                #listCities{
                    padding: 15px 0 0 0;
                    
                    ul{
                        margin: 0;
                        
                        li{
                            .bgCol(@white);
                            margin: 0 0 15px 0;
                            padding: 0;
                            border-left: 3px solid @white;
                            border-bottom: 3px solid @extraLight;
                            
                            .cityName{
                                padding: 0 30px;
                                border: none;
                                .bgCol(transparent);
                                
                                .searchCityTemp{
                                    padding: 20px 0;
                                }
                                
                                .name{
                                    .fontSize(25px);
                                }

                                .country{
                                    .fontSize(18px);
                                }

                                .glyphicon-remove{
                                    display: inline-block;
                                    .absolute;
                                    top: 15px; right: 0;
                                    color: @extraLight;
                                    .fontSize(20px);
                                }

                                .glyphicon-option-vertical{
                                    display: none;
                                }
                                
                                &.active{
                                    .bgCol(@white);
                                    
                                    .glyphicon-remove{
                                        color: @materialColor2;
                                    }
                                }
                                
                                &:hover{
                                    border: none;
                                }
                            }
                            
                            &.active{
                                border-left: 3px solid @materialColor2;
                            }
                            
                            &:hover{
                                .bgCol(@white);
                                cursor: pointer;
                                border-left: 3px solid @materialColor2;

                                .cityName{
                                    .glyphicon-remove{
                                        color: @materialColor2;
                                    }
                                }
                            }
                            
                            &:last-of-type{
                                border-left: 3px solid @white;
                                
                                &.active{
                                    border-left: 3px solid @materialColor2;
                                }

                                &:hover{
                                    border-left: 3px solid @materialColor2;
                                }
                            }
                            
                            .btnDelete{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}